<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".FirebasePers"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        tools:targetApi="31">
        <activity
            android:name=".pantallas.doctor.GenerarInformePacienteDoctor"
            android:exported="false" />
        <activity
            android:name=".pantallas.doctor.IntroducirDniPacienteDoctor"
            android:exported="false" />
        <activity
            android:name=".pantallas.paciente.ProximasCitasPaciente"
            android:exported="false" />
        <activity
            android:name=".pantallas.PantallaInicio"
            android:exported="false" />
        <activity
            android:name=".pantallas.paciente.SettingsPaciente"
            android:exported="false" />
        <activity
            android:name=".pantallas.doctor.SettingsDoctor"
            android:exported="false" />
        <activity
            android:name=".pantallas.paciente.fragmento.Fragmentos"
            android:exported="false" />
        <activity
            android:name=".pantallas.paciente.InformesPaciente"
            android:exported="false" />
        <activity
            android:name=".pantallas.doctor.FichaPaciente"
            android:exported="false" />
        <activity
            android:name=".pantallas.paciente.SesionPaciente"
            android:exported="false" />
        <activity
            android:name=".pantallas.doctor.SesionDoctor"
            android:exported="false" />
        <activity
            android:name=".pantallas.paciente.PedirCitaPaciente"
            android:exported="false" />
        <activity
            android:name=".pantallas.doctor.ConsultarCalendarioDoctor"
            android:exported="false" />
        <activity
            android:name=".pantallas.CrearUsuario"
            android:exported="false" />
        <activity
            android:name=".pantallas.InicioSesion"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>